<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contato</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <h1>Links para contato:</h1>
    <a href="https://www.linkedin.com/in/jackson-mena-do-couto/">
      <div class="center">
        <img src="http://localhost:5000/image/linkedin.png" />
      </div>
    </a>
    <a href="https://github.com/Jackmena">
      <div class="center">
        <img src="http://localhost:5000/image/GitHub.png" />
      </div>
    </a>
  </body>
</html>
