<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tarefa 04</title>
  </head>
  <nav>
    <h2>
      <a href="/">Home</a>
    </h2>
  </nav>
  <body>
    {{{body}}}
  </body>
  <footer>
    <p>
      Página criada pelo aluno Jackson Mena.
    </p>
  </footer>
</html>